@use "../../foundation" as f;

/*!
page > info > info-sns
------------------------------
*/
.info-sns {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-lg);
    overflow: hidden;
    padding-inline: var(--space-md);
    background-color: var(--color-bg-main);


    @include f.mq() {
        grid-template-columns: 1fr 1000px;
        gap: var(--space-xl);
    }
}

.info-sns-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);

    @include f.mq() {
        padding-left: var(--space-xl);
    }
}

.info-sns-text {
    span {
        display: block;
    }
}

.info-sns-slider {
    
}

.info-sns-list {
    @include f.mq() {
        margin-top: 50px;
    }
}

.info-sns-item-img {
    height: 250px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
}
