@use "../foundation" as f;

/*!
layout > footer
------------------------------
*/
.l-footer {
  background-color: var(--color-bg-main);
  border-top: 1px solid var(--color-border);
  padding-block: var(--space-md);


  @include f.mq() {
    padding-block: var(--space-xl);
  }
}

.l-footer-legal-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
  font-family: var(--font-family-en);

  @include f.mq() {
    gap: var(--space-xl);
  }
}

.l-footer-legal-item {
  font-size: 0.875rem;

  &:first-child {
    border-right: 3px solid var(--color-border);
    padding-right: 13px;

    @include f.mq() {
      padding-right: 37px;
    }
  }

  @media (any-hover: hover) {
    &:hover{
      opacity: 0.6;
      transition: opacity 0.3s;
    }
  }
}

.l-footer-legal-link {

}

.l-footer-copyright {
  display: block;
  font-family: var(--font-family-en);
  font-size: 0.75rem;
  text-align: center;
  margin-top: var(--space-md);

  @include f.mq() {
    margin-top: var(--space-xl);
  }
}


