@use "../foundation" as f;

/*!
layout > header
------------------------------
*/
.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-header);
    width: 100%;
    background-color: var(--color-bg-main);
    
    @include f.mq() {
        padding: 24px 65px;
    }
}

.l-header-logo {
    
}

.l-header-menu {
    width: 300px;
    height: 100%;
    margin-left: auto;
    background-color: var(--color-bg-main);

    @include f.mq() {
        display: block;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
    }

    &::backdrop {
        display: none;
    }
}

.l-header-menu-nav {
    background-color: var(--color-gray);
    width: 100%;
    margin-left: auto;
    border-radius: 0 0 0 20px;

    @include f.mq() {
        background-color: transparent;
        width: auto;
        padding: 0;
        border-radius: 0;
        color: var(--color-font-base);
    }
}

.l-header-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px;

    @include f.mq() {
        flex-direction: row;
        align-items: center;
        gap: var(--space-lg);
        padding: 0;
    }
}

.l-header-menu-nav-item {
    
}

.l-header-menu-nav-link {
    width: 100%;
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: var(--font-family-en);

    @include f.mq() {
        font-size: 1rem;
        text-align: center;
    }

    @media (any-hover: hover) {
        &:hover{
            opacity: 0.6;
            transition: opacity 0.3s;
        }
    }
}


.l-header-menu-nav-link--reserve {
    @include f.mq() {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 100vh;
        padding: 8px 16px;
        border: 1px solid var(--color-primary);
        transition: color 0.3s, background-color 0.3s;

        @media (any-hover: hover) {
            &:hover{
                color: var(--color-primary);
                background-color: var(--color-white);
            }
        }
    }
}

.l-header-menu-nav-item {
    width: 100%;
    display: block;
}

.l-accordion {
    
}


.l-header-menu-nav-link {
    
}

.l-accordion-trigger {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include f.mq() {
        justify-content: center;
        text-align: center;
        display: block;
    }

    &::after {
        content: "";
        display: inline-block;
        background-image: url(../../assets/img/arrow-down.svg);
        background-size: cover;
        background-position: center;
        width: 20px;
        aspect-ratio: 1 / 1;

        @include f.mq() {
            display: none;
        }
    }
}

.l-accordion-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding-left: var(--space-md);

    @include f.mq() {
        display: none;
    }
}

.l-accordion-item {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    color: var(--color-text-light);
    
   &::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background-color: var(--color-text-light);
   }

   &:first-child {
    padding-top: var(--space-md);
   }
}

.l-header-menu-open-button,
.l-header-menu-close-button {
    position: fixed;
    top: 23px;
    right: 20px;
    width: 48px;
    aspect-ratio: 1 / 1;
    z-index: var(--z-index-header);

    @include f.mq() {
        display: none;
    }
}

.l-header-menu-open-button {
    
}

.l-header-menu-close-button {
}

.l-header-menu-contact-list {
    padding: 40px 40px 0;
    border-top: 3px solid var(--color-border);

    @include f.mq() {
        display: none;
    }
}

.l-header-menu-contact-link {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: var(--font-family-en);
}