@use "../foundation" as f;

/*!
component > date
------------------------------
*/
.c-date {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-text-secondary);
    display: flex;
    gap: var(--space-md);
    align-items: center;
}