@use "../foundation" as f;

/*!
component > news-item
------------------------------
*/
.c-news-item {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  gap: var(--space-md);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--space-lg);

  &--archive {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.c-news-item-link {
  display: flex;
  align-items: center;
  gap: var(--space-lg);

  @include f.mq() {
    gap: var(--space-xxl);
    font-size: 1rem;
  }
}

.c-news-item-date {
  color: var(--color-text-light);
  font-size: 0.75rem;

  @include f.mq() {
    font-size: 1rem;
  }
}

.c-news-item-title {
  font-size: 0.875rem;
  letter-spacing: 0.025em;

  @include f.mq() {
    font-size: 1rem;
  }
}