@use "../foundation" as f;

/*!
component > title
------------------------------
*/

.c-title-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    
    &::after {
        content: "";
        display: inline-block;
        width: 40px;
        height: 2px;
        background-color: var(--color-secondary);
    }

    &--center {
        align-items: center;
    }
}

.c-title-en {
    font-size: clamp(18px, 2vw, 24px);
    font-weight: bold;
    font-family: var(--font-family-en);

    &--primary {
        color: var(--color-secondary);
    }

    &--center {
        text-align: center;
    }
}

.c-title-ja {
    font-size: clamp(20px, 3vw, 28px);
    font-weight: 500;

    span {
        display: block;
    }
}

.c-card-title {
    font-size: clamp(16px, 1.8vw, 18px);
}

.c-title-section-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    &--center {
        margin-inline: auto;
        text-align: center;

        &::after {
            margin-inline: auto;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        width: 40px;
        height: 2px;
        background-color: var(--color-text-secondary);
    }
}

.c-title-section-en {
    font-size: clamp(24px, 4vw, 36px);
    font-weight: bold;
    font-family: var(--font-family-en);
    color: var(--color-text-secondary);
}

.c-title-section-ja {
    color: var(--color-text-secondary);
    font-weight: 500;
}