@use "../foundation" as f;

/*!
component > title
------------------------------
*/
.c-fv-title {
    font-size: clamp(28px, 5vw, 48px);
    line-height: 1.4;
}

.c-title-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.c-title-en {
    font-size: clamp(14px, 1.5vw, 16px);
}

.c-title-ja {
    font-size: clamp(20px, 3vw, 28px);
    font-weight: 500;
}

.c-card-title {
    font-size: clamp(16px, 1.8vw, 18px);
}

