@use "../foundation" as f;

/*!
component > title
------------------------------
*/

.c-title-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    
    &::after {
        content: "";
        display: inline-block;
        width: 40px;
        height: 2px;
        background-color: var(--color-secondary);
        // margin-top: var(--space-md);
    }
}

.c-title-en {
    font-size: clamp(14px, 1.5vw, 16px);

    &--primary {
        color: var(--color-secondary);
    }
}

.c-title-ja {
    font-size: clamp(20px, 3vw, 28px);
    font-weight: 500;

    span {
        display: block;
    }
}

.c-card-title {
    font-size: clamp(16px, 1.8vw, 18px);
}

