@use "../../foundation" as f;

/*!
page > top > top-about
------------------------------
*/
.top-about {

}

.top-about-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);

  @include f.mq() {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-xxl);
  }
}

.top-about-wrap-img {
  img {
    border-radius: 6px;

    @include f.mq() {
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

.top-about-wrap-content {
  @include f.mq() {
    margin-top: var(--space-lg);
  }
}

.top-about-wrap-content-text {
  margin-top: var(--space-md);

  @include f.mq() {
    margin-top: var(--space-xl);
  }

  span {
    line-height: 2;
    letter-spacing: 0.05em;
    display: block;
  }
}

.top-about-wrap-content-btn {
  margin-top: var(--space-lg);

  @include f.mq() {
    margin-top: var(--space-xl);
  }
}
